.home-container {
  display: flex;
  height: 100vh;
  background: url('https://portal2.unicap.br/RM/web/app/edu/PortalEducacional/login/assets/img/bg.jpg') no-repeat center center fixed;
  background-size: cover;
}

.home-sidebar {
  width: 30%;
  background-color: #fff; 
  padding: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.home-sidebar h1 {
  font-size: 1.5em; 
  margin-bottom: 0.5em;
}

.home-sidebar h2 {
  font-size: 1.25em; 
  margin-bottom: 1em;
}

.home-main {
  width: 70%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-main h2 {
  font-size: 1.5em;
  color: #333; 
  margin-bottom: 1em;
  background-color: white; 
  padding: 10px 20px; 
  border-radius: 15px; 
  box-shadow: 0 2px 4px rgba(0,0,0,0.2); 
  margin-bottom: 20px; 
  display: inline-block; 
}

.home-calendar {
  width: 80%;
  
}

.home-scheduling p {
  font-size: 1em;
  margin-bottom: 0.5em;
  background-color: white;
  padding: 10px 20px; 
  border-radius: 15px; 
  box-shadow: 0 2px 4px rgba(0,0,0,0.2); 
  margin-bottom: 20px; 
  display: inline-block; 
}




  